.wrapper {
  position: relative;
  margin: 80vh 1rem 0 1rem;
  display: flex;
  flex-direction: column;

}

.selectedPlaces {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 8rem;
  z-index: 100;
  background-color: #ECEFF4;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.closeButton {
  cursor: pointer;
  margin-left: auto;
  margin-right: 15px;
}

.selectedPlaces a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.selectedPlaces h2 {
  margin: 0;
}

.description-container {
  display: flex;
}

.img-container img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

.description {
  margin-left: .5rem;
}

.favorite {
  margin-left: auto;
  margin-right: 15px;
  margin-top: -3px;
  cursor: pointer;

}

.favorite_fill {
  margin-left: auto;
  fill: #3eba7e;
  margin-right: 15px;
  margin-top: -3px;
  cursor: pointer;
}